{% extends 'base.html' %}
{% load static %}
{% block content %}
        <head>
            <link href="{% static 'css/detail.css'%}" rel="stylesheet" />
        </head>
        <!-- Product section-->
        <section class="py-5">
            <div class="container px-4 px-lg-5 my-5" style="width:60%;">
                <div class="row gx-4 gx-lg-5 align-items-center">
                    <div class="col-md-6"><img class="card-img-top mb-5 mb-md-0" src="{{movie.poster_url}}" alt="..."/></div>
                    <div class="col-md-6">
                        <div class="small mb-1"></div>
                        <h1 class="display-5 fw-bolder">{{movie.title_kor}}</h1>
                        <div class="fs-5 mb-5">
                            <span class="text-decoration-line-through"></span>
                            <span>{{movie.title_eng}}</span>
                        </div>
                        <p id="light_summary" class="lead">{{movie.light_summary}}...</p>
                        <hr>
                        <br>
                        <div id="detail-content-box1">
                            <div class="detail-content-subbox1"><div class="detail-content-1">장르</div><span>   {{movie.genre}}</span></div>
                            <br>
                            <div class="detail-content-subbox1"><div class="detail-content-1">상영 시간</div><span>   {{movie.showtimes}}</span></div>
                        </div>    
                            <br>
                        <div id="detail-content-box1">
                            <div class="detail-content-subbox1"><div class="detail-content-1">상영 등급</div><span>   {{movie.rate}}</span></div>
                            <br>
                            <div class="detail-content-subbox1"><div class="detail-content-1">개봉일</div><span>   {{movie.release_date}}</span></div>
                        </div>
                            <br>
                        <hr>
                        <div id="detail-content-box2">
                            <div class="detail-content-subbox2"><div class="detail-content-2">관람객 평점</div><span> {{movie.rating_aud}}</span></div>
                            <br>
                            <div class="detail-content-subbox2"><div class="detail-content-2">평론가 평점</div><span>   {{movie.rating_cri}}</span></div>
                            <br>
                            <div class="detail-content-subbox2"><div class="detail-content-2">네티즌 평점</div><span>   {{movie.rating_net}}</span></div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- Related items section-->
        <section class="py-5 bg-light" >
            <div class="container px-4 px-lg-5 mt-5"  style="width: 60%; height:30%;">
                <h2 class="fw-bolder mb-4">Staffs</h2>
                <div class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 "  >
                    {% for staff in movie.staffs.all %}
                    <div class="col mb-5">
                        <div class="card h-100">
                            <!-- Product image-->
                            <img class="card-img-top" src="{{staff.image_url}}" alt="..." />
                            <!-- Product details-->
                            <div class="card-body p-4">
                                <div class="text-center">
                                    <!-- Product name-->
                                    <h5 class="fw-bolder">{{staff.role}}</h5>
                                    <!-- Product price-->
                                    {{staff.name}}
                                </div>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </section>
        {% if user.is_authenticated %}
            <div>
                <div><span>한줄평</span></div>
                <br>
                <form method="POST" action="{% url 'blog:newreply' %}">
                    {% csrf_token %}
                    <input type="hidden" value="{{movie.id}}" name="movie" />
                    <input type="hidden" value="{{user.username}}" name="user" />
                    <input id="put_comments" type="text" name="comment_body" />
                    <button type="submit" class="btn btn-secondary">작성</button>
                </form>
            </div>
            <div>
                {% for comment in movie.comments.all %}
                <div>
                    <p>{{comment.comment_body}}</p>
                    <p><img src="" alt="사람 상반신 이미지">{{comment.user.username}}</p>
                    {% if comment.user == user %}
                    <a href="{% url 'blog:replydelete' comment.id %}"
                    ><input type="button" value="delete"
                    /></a>
                    {% endif %}
                </div>
                
                {% endfor %}
            </div>
        {% endif %}
        {% endblock %}